<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <link rel='stylesheet' href='stylesheets/share.css' />
    <title>看乐可旅行直播，送旅行好礼</title>
  </head>
  <body>
    <div class="container">
      <img src="images/shareTip.png" class="shareTip" alt="分享提示页面"/>
    </div>
  </body>


      <%include include_share.ejs %>
      <script type="text/javascript">
      window.onload=function () {
        $('.shareTip').fadeIn(3000);
      }
      </script>
</html>
