<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>过关名单</title>
  </head>
  <body>
    <h1>过关名单</h1>
    <ol style="padding-left:100px">
      <% for(var i =0;i<num.length;i++){ %>
        <li><%= num[i] %> : <%= data[i] %></li>
      <% } %>
    </ol>
  </body>
</html>
